openapi: 3.0.3
info:
    title: IGVF Catalog - OpenAPI 3.0
    description: |-
        This is a proposed/ongoing design of API endpoints of [IGVF](https://igvf.org/) catalog based on the OpenAPI 3.0 specification.
    termsOfService: https://igvf.org/about/ # to be updated
    contact:
        email: dli23@wustl.edu
    license:
        name: Apache 2.0
        url: http://www.apache.org/licenses/LICENSE-2.0.html
    version: 0.0.1
externalDocs:
    description: IGVF website
    url: https://igvf.org/
servers:
    - url: https://stanford-dacc.hg38.assembly/api/v3 # to be updated
tags:
    - name: variant
      description: every data attributes for one variant
      externalDocs:
          description: Find out more
          url: https://igvf.org/
paths:
    /variant/findByRegion:
        get:
            tags:
                - variant
            summary: Finds Variants by a genomic region
            description: Provide chromosome, start and end position.
            operationId: findVariantsByRegion
            parameters:
                - name: chrom
                  in: path
                  description: chromosome
                  required: true
                  explode: true
                  schema:
                      type: string
                      example: chr19
                - name: start
                  in: path
                  description: start position
                  required: true
                  explode: true
                  schema:
                      type: number
                      example: 44908820
                - name: end
                  in: path
                  description: end position
                  required: true
                  explode: true
                  schema:
                      type: number
                      example: 44908922
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Variant"
                "400":
                    description: Invalid region values
    /variant/{variantId}:
        get:
            tags:
                - variant
            summary: Find variant by ID
            description: Returns a single variant
            operationId: getVariantById
            parameters:
                - name: variantId
                  in: path
                  description: ID of variant to return
                  required: true
                  schema:
                      type: string
                      example: rs7412
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Variant"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Variant"
                "400":
                    description: Invalid Variant ID supplied
                "404":
                    description: Variant not found

components:
    schemas:
        Category:
            type: object
            properties:
                name:
                    type: string
                    description: Variant category
                    example: snv
                    enum:
                        - snv
                        - indel
        Function:
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                    example: 10
                function:
                    type: string
                    example: test function
        Variant:
            required:
                - id
                - chrom
                - start
                - end
            type: object
            properties:
                id:
                    type: string
                    example: rs7412
                chrom:
                    type: string
                    example: chr19
                start:
                    type: number
                    example: 44908820
                end:
                    type: number
                    example: 44908922
                category:
                    $ref: "#/components/schemas/Category"
                function:
                    $ref: "#/components/schemas/Function"
        ApiResponse:
            type: object
            properties:
                code:
                    type: integer
                    format: int32
                type:
                    type: string
                message:
                    type: string
            xml:
                name: "##default"
